In [3]:
%matplotlib inline
import pandas as pd

In [4]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [5]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1        Ashes of Kukulcan  2016
2  The Thousand Plane Raid  1969
3         Crucea de piatra  1993
4                   The 86  2015

In [6]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

### How many movies are listed in the titles dataframe?

In [6]:
len(titles)

215971

In [8]:
len(cast)

3336592

### What are the earliest two films listed in the titles dataframe?

In [14]:
#sorting does not mutated the data
titles.sort('year').head()
#titles.head()

                     title  year
0           The Rising Son  1990
1        Ashes of Kukulcan  2016
2  The Thousand Plane Raid  1969
3         Crucea de piatra  1993
4                   The 86  2015

In [13]:
titles.sort('year').tail()

                       title  year
81065   Predator Retribution  2022
26513      Spider in the Web  2022
40463                  Rosie  2022
199790        New in Village  2024
44165              Wild Runs  2024

### How many movies have the title "Hamlet"?

In [21]:
len(titles[titles.title=='Hamlet'])

19

In [30]:
titles[(titles.title == 'Star Wars') | (titles.title == 'Star Trek')]

            title  year
152891  Star Wars  1977
171980  Star Trek  2009

### How many movies are titled "North by Northwest"?

In [22]:
len(titles[titles.title == 'North by Northwest'])

1

In [29]:
titles[titles.title == 'North by Northwest']

                     title  year
129545  North by Northwest  1959

### When was the first movie titled "Hamlet" made?

In [27]:
hamlets = titles[titles.title == 'Hamlet']
hamlets.sort('year').head()

         title  year
43481   Hamlet  1910
195024  Hamlet  1911
154575  Hamlet  1913
91720   Hamlet  1921
5547    Hamlet  1948

In [38]:
titles['yearsquared'] = titles['year'] * titles['year']
titles.head()

                     title  year  yearsquared
0           The Rising Son  1990      3960100
1        Ashes of Kukulcan  2016      4064256
2  The Thousand Plane Raid  1969      3876961
3         Crucea de piatra  1993      3972049
4                   The 86  2015      4060225

### List all of the "Treasure Island" movies from earliest to most recent.

In [28]:
titles[titles.title == 'Treasure Island'].sort('year')

                  title  year
191385  Treasure Island  1918
47718   Treasure Island  1920
192928  Treasure Island  1934
90185   Treasure Island  1950
213041  Treasure Island  1972
103635  Treasure Island  1973
190789  Treasure Island  1985
166649  Treasure Island  1999

### How many movies were made in the year 1950?

In [31]:
len(titles[titles.year == 1950])

1037

### How many movies were made in the year 1960?

In [32]:
len(titles[titles.year == 1960])

1457

### How many movies were made from 1950 through 1959?

In [33]:
len(titles[(titles.year > 1950) & (titles.year < 1959)])

9698

### In what years has a movie titled "Batman" been released?

In [39]:
titles[titles.title == 'Batman']

        title  year  yearsquared
52137  Batman  1989      3956121
69441  Batman  1943      3775249

### How many roles were there in the movie "Inception"?

In [11]:
len(cast[cast.title == 'Inception'])

73

In [12]:
cast[cast.title == 'Inception']

,title,year,name,type,character,n
86175,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
131170,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44
162432,Inception,2010,Tom Berenger,actor,Browning,8
174855,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
230350,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29
290572,Inception,2010,Michael Caine,actor,Miles,11
296596,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20
333801,Inception,2010,John Ceallach,actor,LAX Passenger,NaN
386031,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26
395670,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34
461885,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30
527580,Inception,2010,Leonardo DiCaprio,actor,Cobb,1
611436,Inception,2010,Seve Esposito,actor,Italian Gambler,NaN
632545,Inception,2010,Zachary Christopher Fay,actor,Extra,NaN
634098,Inception,2010,Russ Fega,actor,Cab Driver,23
659223,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32
722554,Inception,2010,Michael Gaston,actor,Immigration Officer,45
726357,Inception,2010,Johnathan Geare,actor,James (3 years),17
743856,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40
745048,Inception,2010,Jack Gilroy,actor,Old Cobb,50
747683,Inception,2010,Daniel Girondeaud,actor,Bridge Sub Con,NaN
768727,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2
814037,Inception,2010,Lukas Haas,actor,Nash,12
841443,Inception,2010,Tom Hardy,actor,Eames,4
865404,Inception,2010,Ryan Hayward,actor,Lawyer,21
901161,Inception,2010,Andrew Hoagland,actor,Pedestrian,NaN
980493,Inception,2010,Charles Jarrell,actor,Hotel Guest,NaN
992407,Inception,2010,Seong-hwan Jo,actor,Japanese Landing Crew,NaN
1002618,Inception,2010,Alonzo F. Jones,actor,Mombasan Casino Staff,NaN
1046935,Inception,2010,Tim Kelleher,actor,Thin Man,24
...,...,...,...,...,...,...
1640682,Inception,2010,Scott Pretty,actor,Pedestrian,NaN
1662798,Inception,2010,Marc Raducci,actor,Lobby Sub Con,39
1675612,Inception,2010,Dileep Rao,actor,Yusuf,6
1715999,Inception,2010,Benjamin (II) Riley,actor,Bridge Sub Con,NaN
1786010,Inception,2010,Norman Saleet,actor,Airport Patron,NaN
1829914,Inception,2010,Felix Scott,actor,Businessman,46
1898590,Inception,2010,Colin (XXV) Smith,actor,Airport Patron,NaN
1997126,Inception,2010,Affan Tareen,actor,Denison,NaN
2008032,Inception,2010,Jason Tendell,actor,Fischer's Driver,49
2022931,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36
2146246,Inception,2010,Ken Watanabe,actor,Saito,5
2329059,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38
2459783,Inception,2010,Marion Cotillard,actress,Mal,9
2468908,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31
2486433,Inception,2010,Youlanda Davis,actress,Mombasan Cashier,NaN
2495946,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27
2604267,Inception,2010,Claire Geare,actress,Phillipa (3 years),14
2604274,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16
2619907,Inception,2010,Natalie Goldwin,actress,LAX Passenger,NaN
2792260,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28
2798350,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33
2836845,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42
2856121,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41
2957400,Inception,2010,Angela Nathenson,actress,Bar Sub Con,37
2971433,Inception,2010,Miranda Nolan,actress,Flight Attendant,22
2994913,Inception,2010,Ellen Page,actress,Ariadne,3
3044321,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43
3068501,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48
3074677,Inception,2010,Talulah Riley,actress,Blonde,25
3289765,Inception,2010,Shannon Welles,actress,Old Mal,51

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [24]:
#cast.head()
cast[(cast.title == 'Inception') & (pd.isnull(cast.n))]

,title,year,name,type,character,n
86175,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
174855,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
333801,Inception,2010,John Ceallach,actor,LAX Passenger,NaN
611436,Inception,2010,Seve Esposito,actor,Italian Gambler,NaN
632545,Inception,2010,Zachary Christopher Fay,actor,Extra,NaN
747683,Inception,2010,Daniel Girondeaud,actor,Bridge Sub Con,NaN
901161,Inception,2010,Andrew Hoagland,actor,Pedestrian,NaN
980493,Inception,2010,Charles Jarrell,actor,Hotel Guest,NaN
992407,Inception,2010,Seong-hwan Jo,actor,Japanese Landing Crew,NaN
1002618,Inception,2010,Alonzo F. Jones,actor,Mombasan Casino Staff,NaN
1063430,Inception,2010,Mobin Khan,actor,Mombasa Casino Cashier,NaN
1114975,Inception,2010,Shunsaku Kud?,actor,Saito's Bodyguard Officer,NaN
1157553,Inception,2010,John (IX) Lawson,actor,Street Person,NaN
1171878,Inception,2010,Jean-Christophe Leger,actor,French Student,NaN
1488847,Inception,2010,Fran?ois-Marie Nivon,actor,A Passer-By,NaN
1640682,Inception,2010,Scott Pretty,actor,Pedestrian,NaN
1715999,Inception,2010,Benjamin (II) Riley,actor,Bridge Sub Con,NaN
1786010,Inception,2010,Norman Saleet,actor,Airport Patron,NaN
1898590,Inception,2010,Colin (XXV) Smith,actor,Airport Patron,NaN
1997126,Inception,2010,Affan Tareen,actor,Denison,NaN
2486433,Inception,2010,Youlanda Davis,actress,Mombasan Cashier,NaN
2619907,Inception,2010,Natalie Goldwin,actress,LAX Passenger,NaN

In [25]:
len(cast[(cast.title == 'Inception') & (pd.isnull(cast.n))])

22

### But how many roles in the movie "Inception" did receive an "n" value?

In [26]:
#cast[(cast.title == 'Inception') & ~(pd.isnull(cast.n))]
cast[(cast.title == 'Inception') & (cast.n.notnull())]

,title,year,name,type,character,n
131170,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44
162432,Inception,2010,Tom Berenger,actor,Browning,8
230350,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29
290572,Inception,2010,Michael Caine,actor,Miles,11
296596,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20
386031,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26
395670,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34
461885,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30
527580,Inception,2010,Leonardo DiCaprio,actor,Cobb,1
634098,Inception,2010,Russ Fega,actor,Cab Driver,23
659223,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32
722554,Inception,2010,Michael Gaston,actor,Immigration Officer,45
726357,Inception,2010,Johnathan Geare,actor,James (3 years),17
743856,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40
745048,Inception,2010,Jack Gilroy,actor,Old Cobb,50
768727,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2
814037,Inception,2010,Lukas Haas,actor,Nash,12
841443,Inception,2010,Tom Hardy,actor,Eames,4
865404,Inception,2010,Ryan Hayward,actor,Lawyer,21
1046935,Inception,2010,Tim Kelleher,actor,Thin Man,24
1169658,Inception,2010,Tai-Li Lee,actor,Tadashi,13
1300248,Inception,2010,Tohoru Masamune,actor,Japanese Security Guard,18
1444672,Inception,2010,Cillian Murphy,actor,Robert Fischer,7
1447273,Inception,2010,Jack (III) Murray,actor,Bar Sub Con,35
1491381,Inception,2010,Magnus Nolan,actor,James (20 months),15
1521053,Inception,2010,Yuji Okumoto,actor,Saito's Attendant,19
1618939,Inception,2010,Andrew Pleavin,actor,Businessman,47
1631273,Inception,2010,Pete Postlethwaite,actor,Maurice Fischer,10
1662798,Inception,2010,Marc Raducci,actor,Lobby Sub Con,39
1675612,Inception,2010,Dileep Rao,actor,Yusuf,6
1829914,Inception,2010,Felix Scott,actor,Businessman,46
2008032,Inception,2010,Jason Tendell,actor,Fischer's Driver,49
2022931,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36
2146246,Inception,2010,Ken Watanabe,actor,Saito,5
2329059,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38
2459783,Inception,2010,Marion Cotillard,actress,Mal,9
2468908,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31
2495946,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27
2604267,Inception,2010,Claire Geare,actress,Phillipa (3 years),14
2604274,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16
2792260,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28
2798350,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33
2836845,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42
2856121,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41
2957400,Inception,2010,Angela Nathenson,actress,Bar Sub Con,37
2971433,Inception,2010,Miranda Nolan,actress,Flight Attendant,22
2994913,Inception,2010,Ellen Page,actress,Ariadne,3
3044321,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43
3068501,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48
3074677,Inception,2010,Talulah Riley,actress,Blonde,25
3289765,Inception,2010,Shannon Welles,actress,Old Mal,51

In [27]:
len(cast[(cast.title == 'Inception') & ~(pd.isnull(cast.n))])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [29]:
cast[(cast.title == 'North by Northwest') & ~(pd.isnull(cast.n))].sort('n')

,title,year,name,type,character,n
778971,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1
3107636,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2
1301695,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3
2796809,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4
317620,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5
2704725,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6
1515268,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7
1138528,North by Northwest,1959,Martin Landau,actor,Leonard,8
2183294,North by Northwest,1959,Adam Williams,actor,Valerian,9
1618288,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10
594967,North by Northwest,1959,Robert Ellenstein,actor,Licht,11
2048118,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12
414219,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13
1348302,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14
182317,North by Northwest,1959,Edward Binns,actor,Captain Junket,15
1236856,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [31]:
cast[(cast.title == 'Sleuth') & (cast.year == 1972)].sort('n')

,title,year,name,type,character,n
1524146,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1
290601,Sleuth,1972,Michael Caine,actor,Milo Tindle,2
333128,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3
1309035,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4
2424114,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5
1294258,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [54]:
cast[(cast.title == 'Sleuth') & (cast.year == 2007)].sort('n')

          title  year                 name     type          character   n
290602   Sleuth  2007        Michael Caine    actor             Andrew   1
1155121  Sleuth  2007             Jude Law    actor               Milo   2
1613486  Sleuth  2007        Harold Pinter    actor        Man on T.V.   3
230447   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V. NaN
333129   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler NaN
2424113  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke NaN
2980725  Sleuth  2007    Carmel O'Sullivan  actress             Maggie NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [32]:
cast[(cast.title == 'Hamlet') & (cast.year == 1921)]

          title  year                    name     type         character  n
6712     Hamlet  1921        Fritz Achterberg    actor       Fortinbras,  9
408847   Hamlet  1921            Paul Conradi    actor      K?nig Hamlet  2
495924   Hamlet  1921        Anton De Verdier    actor           Laertes  7
1015915  Hamlet  1921         Hans Junkermann    actor          Polonius  6
1950505  Hamlet  1921            Heinz Stieda    actor           Horatio  5
2118773  Hamlet  1921  Eduard von Winterstein    actor          Claudius  4
2372112  Hamlet  1921         Mathilde Brandt  actress  K?nigin Gertrude  3
2716319  Hamlet  1921          Lilly Jacobson  actress           Ophelia  8
2967481  Hamlet  1921            Asta Nielsen  actress            Hamlet  1

In [33]:
len(cast[(cast.title == 'Hamlet') & (cast.year == 1921)])

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [34]:
cast[(cast.title == 'Hamlet') & (cast.year == 1996)]

,title,year,name,type,character,n
1458,Hamlet,1996,Riz Abbasi,actor,Attendant to Claudius,1
84096,Hamlet,1996,Richard Attenborough,actor,English Ambassador,2
139684,Hamlet,1996,Simon Russell Beale,actor,Second Gravedigger,37
189450,Hamlet,1996,David (V) Blair,actor,Attendant to Claudius,3
193984,Hamlet,1996,Brian Blessed,actor,Ghost of Hamlet's Father,4
222002,Hamlet,1996,Christopher Bowles,actor,Cadet in Play,NaN
230434,Hamlet,1996,Kenneth Branagh,actor,Hamlet,5
241802,Hamlet,1996,Richard Briers,actor,Polonius,6
261639,Hamlet,1996,Michael Bryant,actor,Priest,7
284111,Hamlet,1996,Peter Bygott,actor,Attendant to Claudius,8
306243,Hamlet,1996,Kenneth W Caravan,actor,Laertes Mob,NaN
447208,Hamlet,1996,Billy Crystal,actor,First Gravedigger,10
463089,Hamlet,1996,Charles Daish,actor,Stage Manager,11
514864,Hamlet,1996,G?rard Depardieu,actor,Reynaldo,13
534874,Hamlet,1996,Reece Dinsdale,actor,Guildenstern,14
539861,Hamlet,1996,Ken Dodd,actor,Yorick,15
587237,Hamlet,1996,Rob Edwards,actor,Lucianus,17
598263,Hamlet,1996,Jimmy Ellis,actor,Old Fortinbras,NaN
629546,Hamlet,1996,Nicholas Farrell,actor,Horatio,18
633277,Hamlet,1996,Ray Fearon,actor,Francisco,19
739377,Hamlet,1996,John Gielgud,actor,Priam,21
886892,Hamlet,1996,Charlton Heston,actor,Player King,23
962541,Hamlet,1996,Ravil Isyanov,actor,Cornelius,24
969131,Hamlet,1996,Derek Jacobi,actor,Claudius,25
1082169,Hamlet,1996,Jeffery Kissoon,actor,Fortinbras's Captain,27
1175815,Hamlet,1996,Jack Lemmon,actor,Marcellus,29
1251324,Hamlet,1996,Anthony Maddalena,actor,Elsinore Courtier,NaN
1266016,Hamlet,1996,Michael Maloney,actor,Laertes,31
1330735,Hamlet,1996,Ian McElhinney,actor,Barnardo,30
1385036,Hamlet,1996,John Mills,actor,Old Norway,33
1391073,Hamlet,1996,Jimi Mistry,actor,Sailor Two,34
1419926,Hamlet,1996,Frank (II) Morgan,actor,Pyrrhus,NaN
1821705,Hamlet,1996,Andrew Schofield,actor,Young Lord,38
1833262,Hamlet,1996,Orlando Seale,actor,Boatman,NaN
1846201,Hamlet,1996,Rufus Sewell,actor,Fortinbras,39
1919719,Hamlet,1996,Timothy Spall,actor,Rosencrantz,40
1922855,Hamlet,1996,John Spencer-Churchill,actor,Fortinbras's Captain,32
1982827,Hamlet,1996,Thomas Szekeres,actor,Young Hamlet,41
2016026,Hamlet,1996,Ben Thom,actor,First Player,42
2143984,Hamlet,1996,Don Warrington,actor,Voltimand,43
2188935,Hamlet,1996,Robin Williams,actor,Osric,45
2230966,Hamlet,1996,David Yip,actor,Sailor One,47
2238332,Hamlet,1996,Jimmy Yuill,actor,Alexander,NaN
2435375,Hamlet,1996,Julie Christie,actress,Gertrude,9
2501882,Hamlet,1996,Judi Dench,actress,Hecuba,12
2520481,Hamlet,1996,Angela Douglas,actress,Attendant to Gertrude,16
2610649,Hamlet,1996,Yvonne Gidden,actress,Doctor,20
2662416,Hamlet,1996,Rosemary Harris,actress,Player Queen,22
2765012,Hamlet,1996,Rowena King,actress,Attendant to Gertrude,26
2794230,Hamlet,1996,Sarah Lam,actress,Attendant to Gertrude,28
3049636,Hamlet,1996,Sian Radinger,actress,Prologue,35
3053918,Hamlet,1996,Melanie Ramsay,actress,Prostitute,NaN
3054082,Hamlet,1996,Melanie Ramsey,actress,Prostitute,36
3287595,Hamlet,1996,Perdita Weeks,actress,Second Player,44
3307135,Hamlet,1996,Kate Winslet,actress,Ophelia,46

In [36]:
len(cast[(cast.title == 'Hamlet') & (cast.year == 1996)])

55

### How many "Hamlet" roles have been listed in all film credits through history?

In [37]:
len(cast[cast.title == 'Hamlet'])

299

### How many people have played an "Ophelia"?

In [38]:
cast[cast.character == 'Ophelia']

,title,year,name,type,character,n
219699,The Merry Maids of Madness,2016,Amy Bourque,actor,Ophelia,11
364902,Jake Gets Paid,2009,Josie Chisholm,actor,Ophelia,NaN
774405,"Dogg's Hamlet, Cahoot's Macbeth",2005,Lucas Grabeel,actor,Ophelia,NaN
1218639,11,2014,Catherine (IV) Lord,actor,Ophelia,NaN
2179233,Baker,2011,Elle Wilcox,actor,Ophelia,NaN
2207678,Queen's Encounter,2011,Hiu Yee Wong,actor,Ophelia,NaN
2267326,Confession,1999,Paulina V. Ahlstrom,actress,Ophelia,NaN
2286470,Hamlet_X,2003,Kathrin Angerer,actress,Ophelia,NaN
2309757,Byt ili ne byt?,2015,Malika Baiseitova,actress,Ophelia,NaN
2315451,Khoon Ka Khoon,1935,Naseem Banu,actress,Ophelia,2
2329296,Notorious But Nice,1933,Louise Beavers,actress,Ophelia,NaN
2329353,Virginia,1941,Louise Beavers,actress,Ophelia,10
2346192,Bad Bush,2009,Viva Bianca,actress,Ophelia,2
2361540,Ophelia,2015,Flora Bonfanti,actress,Ophelia,NaN
2361621,Hamlet,1990,Helena Bonham Carter,actress,Ophelia,6
2379407,National Theatre Live: Hamlet,2015,Sian Brooke,actress,Ophelia,NaN
2382698,Caged Fear,1991,Pamela (II) Brown,actress,Ophelia,5
2386786,The Tragedy of Hamlet Prince of Denmark,2007,Beth Buchanan,actress,Ophelia,NaN
2393251,Army from Hell,2014,Jennie Bushnell,actress,Ophelia,NaN
2403666,Kitchen Hamlet,2009,Shaina Cantino,actress,Ophelia,5
2420169,Hamlet,1973,Linda Certain,actress,Ophelia,NaN
2421573,Hamlet,2009,Melissa Chalsma,actress,Ophelia,4
2452287,The Heyday of the Insensitive Bastards,2014,June Conniff,actress,Ophelia,NaN
2452801,Catwoman,2004,Frances Conroy,actress,Ophelia,5
2465633,The Wolfman,2010,Elizabeth (III) Croft,actress,Ophelia,NaN
2471233,Trading Places,1983,Jamie Lee Curtis,actress,Ophelia,53
2472026,Son of Terror,2008,Bernadette Cuvalo,actress,Ophelia,NaN
2478293,Hat Check Honey,1944,Ruby Dandridge,actress,Ophelia,NaN
2525754,Golden Ophelia,1974,Bettina Dubbled,actress,Ophelia,NaN
2538654,Queen and Country,2014,Tamsin Egerton,actress,Ophelia,7
...,...,...,...,...,...,...
2961660,Fright Flick,2011,Valerie (V) Nelson,actress,Ophelia,19
2962183,Hamlet the Vampire Slayer,2008,Leslie Nesbit,actress,Ophelia,2
2963886,Chrystal,2004,Cassidy Lee Ann Newman,actress,Ophelia,26
2970617,Hamlet (II),2015,Robin (II) Noble,actress,Ophelia,NaN
3012221,Tickle Me,1965,Ines Pedroza,actress,Ophelia,13
3018835,Big Dan,1923,Mattie Peters,actress,Ophelia,11
3024014,Puso ng pasko,1998,Cherry Pie Picache,actress,Ophelia,9
3024365,City of Tales,2013,Joanna Pickering,actress,Ophelia,1
3031443,Hamlet_X,2003,Lucie Pohl,actress,Ophelia,NaN
3071912,The Fool,1990,Miranda Richardson,actress,Ophelia,40
3094664,Rosencrantz & Guildenstern Are Dead,1990,Joanna Roth,actress,Ophelia,11
3097127,Shoot the Messenger,2016,Synthia Roy,actress,Ophelia,NaN
3101878,Un Amleto di meno,1973,Isabella Russo,actress,Ophelia,NaN
3106554,"Hamlet, Prince of Denmark",1997,Britt Sady,actress,Ophelia,NaN
3114549,Hamlet,1911,Emilie Sannom,actress,Ophelia,4
3123787,Die Vervlakste Tweeling,1969,Margaret Schiess,actress,Ophelia,8
3144753,Bill Shakespeare in Hollywood,2011,C.C. Sheffield,actress,Ophelia,NaN
3144783,Hamlet (II),2007,Tallulah Sheffield,actress,Ophelia,NaN
3151082,Ta'ut Bamispar,1979,Ophelia Shtruhl,actress,Ophelia,NaN
3154123,Human Touch,2004,Delia Silvan,actress,Ophelia,14
3158271,Hamlet,1954,Mala Sinha,actress,Ophelia,1
3161950,Waiting for Ophelia,2009,Amy Sloan,actress,Ophelia,5
3165065,After Romeo & Juliet,2012,Lisa Marie Smith,actress,Ophelia,NaN
3188776,Hamlet,2000,Julia Stiles,actress,Ophelia,7
3213583,Zompyre Rising,2011,Kristy Taylor,actress,Ophelia,24
3262444,Gamlet,1964,Anastasiya Vertinskaya,actress,Ophelia,5
3269474,"Hamlet, Son of a Kingpin",2015,Ingrid Vollset,actress,Ophelia,NaN
3281914,D.C. Cab,1983,Marsha Warfield,actress,Ophelia,7
3282559,Creature,2011,Jennifer Lynn Warren,actress,Ophelia,12
3307135,Hamlet,1996,Kate Winslet,actress,Ophelia,46

In [39]:
len(cast[cast.character == 'Ophelia'])

96

### How many people have played a role called "The Dude"?

In [40]:
len(cast[cast.character == 'The Dude'])

16

### How many people have played a role called "The Stranger"?

In [41]:
len(cast[cast.character == 'The Stranger'])

192

### How many roles has Sidney Poitier played throughout his career?

In [42]:
len(cast[cast.name == 'Sidney Poitier'])

43

### How many roles has Judi Dench played?

In [43]:
len(cast[cast.name == 'Judi Dench'])

51

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [55]:
#cast[(cast.name == 'Cary Grant') & (cast.n == 2) & ((cast.year > 1939) & (cast.year < 1950))].sort('year')
cast[(cast.name == 'Cary Grant') & (cast.n ==2) & (cast.year//10 == 194)].sort('year')

                   title  year        name   type    character  n
778968  My Favorite Wife  1940  Cary Grant  actor         Nick  2
778978    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [47]:
#cast[(cast.name == 'Cary Grant') & (cast.n == 1) & ((cast.year > 1939) & (cast.year < 1950))].sort('year')
cast[(cast.name == 'Cary Grant') & (cast.n ==1) & (cast.year // 10 == 194)].sort('year')

,title,year,name,type,character,n
778993,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1
778950,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1
778995,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1
778983,Suspicion,1941,Cary Grant,actor,Johnnie,1
778997,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1
778974,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1
778941,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1
778966,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1
778967,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1
778975,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1
778933,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1
778970,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1
778969,Night and Day,1946,Cary Grant,actor,Cole Porter,1
778972,Notorious,1946,Cary Grant,actor,Devlin,1
778989,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1
778990,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1
778965,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1
778945,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1
778954,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1

### How many roles were available for actors in the 1950s?

In [48]:
len(cast[(cast.type == 'actor') & ((cast.year > 1949) & (cast.year < 1960))])

148779

### How many roles were avilable for actresses in the 1950s?

In [49]:
len(cast[(cast.type == 'actress') & ((cast.year > 1949) & (cast.year < 1960))])

54164

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [50]:
len(cast[(cast.n == 1) & (cast.year <= 1980)])

61602

### How many non-leading roles were available through from the beginning of film history through 1980?

In [51]:
len(cast[(cast.n != 1) & (cast.year <= 1980)])

1052579

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [52]:
len(cast[(pd.isnull(cast.n)) & (cast.year <= 1980)])

417826